# SPDX-FileCopyrightText: 2023 His Majesty in Right of Canada
#
# SPDX-License-Identifier: LicenseRef-MIT-DND
#
# This file is part of the ERRERS package.

# Python cache directories
__pycache__/

# pytest cache directory
/.pytest_cache/

# Archive files
/*.zip

# Distribution files
/dist/

# Package metadata
/src/errers.egg-info/

# Virtual environment
/venv/

# License compilation
/LICENSES.txt

# Hash file (used to determine if version file must be updated)
commit-hash.txt

# Version file
/src/errers/_version.py

# Local rules
/src/errers/rules/local.py

# Vim swap files
*.swp
