# SPDX-FileCopyrightText: 2023 His Majesty in Right of Canada
#
# SPDX-License-Identifier: LicenseRef-MIT-DND
#
# This file is part of the ERRERS package.

include CHANGELOG.rst
include CONTRIBUTING.rst
include LICENSES/*
include bundle/*
include src/errers/icon/*.ico
include src/errers/icon/*.icns
include src/errers/icon/*.png
exclude src/errers/rules/local.py
